html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  line-height: 1.5;
}

*, *::before, *,::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  color: #3f1662;
  font-size: 1.5rem;
}

nav {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: normal;
  color: ##8f2440;
}

nav a {
  color: #3f1662;
  text-decoration: none;
}




/* font-family: 'PT Sans', sans-serif; */

/* font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif; */
