html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #3f1662;
  font-size: 1.5rem;
}

.nav {
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: normal;
}

.nav a {
  color: #8f2440;
  text-decoration: none;
}

.nav a:hover {
  color: #3f1662;
  text-decoration: underline;
}

img {
  width: 100%;
}

body {
  font-family: "PT Serif", serif;
  color: #222;
  font-size: .8rem;
}

figcaption {
  font-style: italic;
}

div {
  font-weight: bold;
  font-size: 1.25rem;
}

b {
  font-weight: bold;
}

blockquote {
  font-style: italic;
  font-size: 1.5rem;
}

h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1662;
  font-size: 1.25rem;
}

.common-varieties {
  list-style-type: lower-alpha;
}

dt {
  font-weight: bold;
}

ul {
  list-style-type: circle;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

/* font-family: 'PT Sans', sans-serif; */

/* font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif; */
